name: ci

on:
  push:
    branches:
      - main
      - renovate/*
      - dev/*
    tags:
      - v*
  pull_request:
    branches:
      - main
      - dev/*
      - stable/*

jobs:
  ci:
    uses: AmpelProject/Ampel-interface/.github/workflows/ci.yml@0900945de79358f5ac065ab2129be44fcd0b11b8 # ci-py12-v9
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
    with:
      mongo: true
      format: true
      lint: true
      # renovate: datasource=python-version depName=python
      python-version: "3.13.2"
      # renovate: datasource=pypi depName=ruff versioning=pep440
      ruff-version: "0.14.7"
